.loader {
  position: fixed;
  top: 50%;
  left: 50%;
}

.cssload-container{
	position:relative;
}
	
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid rgb(167,168,168);
	border-left-color: rgb(2,52,73);
	border-radius: 924px;
		-o-border-radius: 924px;
		-ms-border-radius: 924px;
		-webkit-border-radius: 924px;
		-moz-border-radius: 924px;
}

.cssload-whirlpool {
	margin: -23px 0 0 -23px;
	height: 46px;
	width: 46px;
	animation: cssload-rotate 1000ms linear infinite;
		-o-animation: cssload-rotate 1000ms linear infinite;
		-ms-animation: cssload-rotate 1000ms linear infinite;
		-webkit-animation: cssload-rotate 1000ms linear infinite;
		-moz-animation: cssload-rotate 1000ms linear infinite;
}

.cssload-whirlpool::before {
	content: "";
	margin: -21px 0 0 -21px;
	height: 41px;
	width: 41px;
	animation: cssload-rotate 1000ms linear infinite;
		-o-animation: cssload-rotate 1000ms linear infinite;
		-ms-animation: cssload-rotate 1000ms linear infinite;
		-webkit-animation: cssload-rotate 1000ms linear infinite;
		-moz-animation: cssload-rotate 1000ms linear infinite;
}

.cssload-whirlpool::after {
	content: "";
	margin: -27px 0 0 -27px;
	height: 52px;
	width: 52px;
	animation: cssload-rotate 2000ms linear infinite;
		-o-animation: cssload-rotate 2000ms linear infinite;
		-ms-animation: cssload-rotate 2000ms linear infinite;
		-webkit-animation: cssload-rotate 2000ms linear infinite;
		-moz-animation: cssload-rotate 2000ms linear infinite;
}



@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}